body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(244, 84, 110);
    overflow: hidden;
    font-size: 16px;
}

h2{
    font-size: 4cm;
    text-align: center;
    color: rgb(244, 84, 110);
    z-index: 2;
    
}

p{  
    font-size: 100%;
    text-align: justify;
    padding: 50px;
    color: rgb(244, 84, 110);
    z-index: 2;

}




